/* LOGIN */
.login-container {
  height: 500px;
  width: 800px;
  box-shadow: -12px -12px 10px rgba(255, 255, 255, 0.2), 5px 5px 10px rgba(166, 180, 200, 0.7);
  border-radius: 10px;
  overflow: hidden;
}

.image-login {
  border-radius: 10px 0 0 10px;
}

.title-login {
  margin-top: 5rem;
  font-weight: bold;
  color: #FECD1A
}
